In [ ]:
#Task-1
for num in range(18,64,9):
  print(num)

18
27
36
45
54
63

In [ ]:
#Task-2
sum=0
n=int(input())
for i in range(1,n+1):
  if i%2==0:
    sum-=(i**2)
  else:
    sum+=(i**2)
print(sum)

10
-55

In [ ]:
#Task-3
num=int(input())
while 0<num:
  new=num%10
  remainNum=num//10
  num=remainNum
  if num==0:
    print(new)
  else:
    print(new,end=",")

32768
8,6,7,2,3

In [ ]:
#Task-4
num=int(input())
divisor=0
count=1
while count<=num:
  if num%count==0:
    print(count)
    count+=1
    divisor+=1
  else:
    count+=1
print("Total",divisor,"divisors")

6
1
2
3
6
Total 4 divisors

In [ ]:
#Task-5
x=int(input("Row:"))
y=int(input("Column:"))
for i in range(1,x+1):
  for j in range(1,y+1):
    print(j, end="")
  print()

Row:4
Column:6
123456
123456
123456
123456

In [ ]:
#Evaluation-1
str1=""
for i in range(18,64,9):
  if i%2==0:
    str1+=str(i)+", "
  else:
    str1+=str(i*-1)+", "
print(str1[:-2])

18, -27, 36, -45, 54, -63

In [ ]:
#Evaluation-2
product=1
for i in range(0,5):
  num=int(input("Your number is:"))
  product*=num
  print(product)

Your number is:-10
-10
Your number is:-2
20
Your number is:2
40
Your number is:3
120
Your number is:-1
-120