CLASS TASKS

In [ ]:
#class task 1.1
def even_checker(num):
  if num%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(17)

Odd!!

In [ ]:
#class task 1.2
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
result=is_even(17)
print(result)

False

In [ ]:
#class task 1.3
def is_pos(num):
  if num>=0:
    return True
  else:
    return False
result = is_pos(12)
print( result )

True

In [ ]:
#class task 1.4
def is_pos(num):
  if num>0:
    return True
  else:
    return False
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
def sequence(n):
  if is_pos(n)==True:
    for i in range(0,n+1):
      if is_even(i)==True:
        print(i,end=" ")
  else:
    for i in range(n,0):
      if is_even(i)==False:
        print(i,end=" ")
sequence(10)

0 2 4 6 8 10

In [ ]:
#class task 2.1
def is_valid_triangle(x,y,z):
  if x+y>z and x+z>y and z+y>x:
    return True
  else:
    return False
result=is_valid_triangle(7,5,10)
print(result)

True

In [ ]:
#class task 2.2
def is_valid_triangle(x,y,z):
  if x+y>z and x+z>y and z+y>x:
    return True
  else:
    return False
def tri_area(x,y,z):
  s = (x + y + z)/2
  area=((s*(s-x)*(s-y)*(s-z))**(1/2))
  if is_valid_triangle(x,y,z)==True:
    print(area)
  else:
    print("Cant form triangle")
tri_area(7,5,10)

16.24807680927192

In [ ]:
#class task 3.1
def circle(n):
  area=3.1416*(n**2)
  return area
circle(5)

78.53999999999999

In [ ]:
#class task 3.2
def sphere(n):
  volume=4/3*3.1416*(n**3)
  return volume
sphere(5)

523.5999999999999

In [ ]:
#class task 3.3
def circle(n):
  area=3.1416*(n**2)
  return area
def sphere(n):
  volume=4/3*3.1416*(n**3)
  return volume
def fitting(a,b,c):
  if c==2:
    area1=circle(a/2)
    area2=circle(b/2)
    if area1>area2:
      remaining_space1=area1-area2
      print(f"Circle-1 can fit inside Circle-2 and {remaining_space1} square units would be left.")
    elif area2>area1:
      remaining_space2=area2-area1
      print(f"Circle-1 can fit inside Circle-2 and {remaining_space2} square units would be left.")
    else:
      print("Impossible to fit.")
  elif c==3:
    volume1=sphere(a/2)
    volume2=sphere(b/2)
    if volume1>volume2:
      remaining1=volume1-volume2
      print(f"Sphere-2 can fit inside Sphere-1 and {remaining1} cubic units would be left.")
    elif volume1<volume2:
      remaining2=volume2-volume1
      print(f"Sphere-1 can fit inside Sphere-2 and {remaining2} cubic units would be left.")
    else:
      print("Impossible to fit.")
fitting(8,10,2)

Circle-1 can fit inside Circle-2 and 28.274399999999993 square units would be left.

In [ ]:
#class task 5.1
def one_to_N(c,n):
  if c==n:
    print(c, end=" ")
    return
  else:
    print(c, end=" ")
    one_to_N(c+1,n)
n=int(input())
one_to_N(1,n)

11
1 2 3 4 5 6 7 8 9 10 11

In [ ]:
#class task 5.2
def reverse_printing(start,end):
  if end==start:
    print(end, end=" ")
  else:
    print(end, end=" ")
    reverse_printing(start,end-1)
n=int(input())
reverse_printing(1,n)

3
3 2 1

In [ ]:
#class task 5.3
def recursive_summation(start,end):
  if end==0 or end==1:
    return 1
  else:
    return end+recursive_summation(start,end-1)
n=int(input())
recursive_summation(1,n)

12

78

HOME TASKS

In [ ]:
#home task1.1
def is_prime(num):
  for i in range(2,num):
    if num%i==0:
      return False
      break
  else:
    return True
prime_check = is_prime(20)
print(prime_check)

False

In [ ]:
#home task1.2
def is_perfect(num):
  count=0
  for i in range(1,num):
    if num%i==0:
      count+=i
  if count==num:
    return True
  else:
    return False
perfect_check = is_perfect(6)
print(perfect_check)

True

In [ ]:
#home task 1.3
def is_prime(num):
  for i in range(2,num):
    if num%i==0:
      return False
      break
  else:
    return True
def is_perfect(num):
  count=0
  for i in range(1,num):
    if num%i==0:
      count+=i
  if count==num:
    return True
  else:
    return False
def special_sum(n):
  sum=0
  for i in range(0,n+1):
    if(is_prime(i)):
      sum+=i
    elif(is_perfect(i)):
      sum+=i
  return sum-1
n=int(input())
result= special_sum(n)
print(result)

30
163

In [ ]:
#home task2.1
def show_dots(num):
    print("." * num, end="")
show_dots(5)

.....

In [ ]:
#home task2.2
def show_palindrome(n):
  for i in range(1,n+1,1):
    print(i,end="")
  for i in range(n-1,0,-1):
    print(i,end="")
show_palindrome(5)

123454321

In [ ]:
#home task2.3
def show_dots(num):
    print("." * num, end="")
def show_palindrome(n):
  for i in range(1,n+1,1):
    print(i,end="")
  for i in range(n-1,0,-1):
    print(i,end="")
def show_triangle(num):
    length=(num*2)-1
    for i in range(1,num+1):
        numeric=(i*2)-1
        dot= int((length-numeric)/2)
        show_dots(dot)
        show_palindrome(i)
        show_dots(dot)
        print()
show_triangle(5)

....1....
...121...
..12321..
.1234321.
123454321

In [ ]:
#home task 3.1
def calc_tax(x,y):
  tax=0
  if x<18 or y<10000:
    tax=0
  elif 10000<=y<=20000:
    tax=(7*y)/100
  elif 20000<y:
    tax=(14*y)/100
  return tax
t = calc_tax(20,18000)
print(int(t))

1260

In [ ]:
#home task 3.2
def calc_tax(x,y):
  tax=0
  if x<18 or y<10000:
    tax=0
  elif 10000<=y<=20000:
    tax=(7*y)/100
  elif 20000<y:
    tax=(14*y)/100
  return tax
def calc_yearly_tax():
  x=int(input())
  yearly_tax=0
  for i in range(1, 13):
        y=int(input())
        monthly_tax=calc_tax(x,y)
        yearly_tax+=monthly_tax
        print(f"Month{i} Tax: {int(monthly_tax)}")
  print(f"Total Yearly Tax: {int(yearly_tax)}")
calc_yearly_tax()

22
8000
Month1 Tax: 0
15000
Month2 Tax: 1050
22000
Month3 Tax: 3080
2300
Month4 Tax: 0
15300
Month5 Tax: 1071
21000
Month6 Tax: 2940
34000
Month7 Tax: 4760
9000
Month8 Tax: 0
27000
Month9 Tax: 3780
88000
Month10 Tax: 12320
32000
Month11 Tax: 4480
7300
Month12 Tax: 0
Total Yearly Tax: 33481

In [ ]:
#Task 4.1
def reverse_digits(num):
    if num< 10:
        print(num)
    else:
        print(num%10)
        reverse_digits(num//10)
n=int(input())
reverse_digits(n)

649
9
4
6

In [ ]:
#Task 4.2
def power(a, n):
    if n==0:
      return 1
    else:
      return a*power(a,n-1)
a=int(input())
n=int(input())
print(power(a,n))

3
5
243

In [ ]:
#Task 5.0
def sequence_iterative(N):
    result=0
    for i in range(1,N+1):
        if i%2==0:
            result-=i
        else:
            result+=i
    return result
n=int(input())
print(sequence_iterative(n))

10
-5

In [ ]:
#Task 5.1
def sequence_recursive(N) :
  a=0
  if N==1:
    return N
  if N%2==0 :
    a=(-1)*N
  else :
    a=N
  return a+sequence_recursive(N-1)
n=int(input())
print(sequence_recursive(n))

10
-5